
:root {
    --primary-colour: #0079ff;
    --background-colour: #141d2f;
    --content-background: #1e2a47;
    --input-placeholder: #ffffff;
    --mode-colour: #ffffff;
    --number-colour: #ffffff;
    --text-colour: #ffffff;
  }

.moon-icon{
    display: none;
}
.sun-icon{
    display: inline-block;
}
.colour-mode small::after{
    content: 'light';
}
.colour-mode small:hover{
    color: #90a4d4;
}
.colour-mode .sun-icon path:hover{
    fill: #90a4d4;
}
.search-bar, .github-user{
    box-shadow: none;
}

.github-profile .profile h1{
    color: var(--text-colour);
}

.social-media a svg path{
    fill: var(--text-colour);
}
